@charset 'UTF-8';

body {
	text-shadow: white 0px 1px 2px;
	background-color: #B2C2D8;
	font-family: "Lucida Grande", Verdana;
}

#display {
	color: #353535;
	font-family: "Cronos Pro", "Apple Myriad", "Lucida Grande", Verdana;
	background-color: #D5D5D5;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#D9D9D9), to(#ABABAB));
	-webkit-border-radius: 0.75em;
	-webkit-box-shadow: 0 0.15em 0.17em rgba(0, 0, 0, 0.5);
	display: inline-block;
	padding: 0.4em;
	padding-bottom: 0.6em;
	margin-top: 96px;
	text-align: center;
	margin-bottom: 0.5em;
	border-top-left-radius: 0.75em 0.75em;
	border-top-right-radius: 0.75em 0.75em;
	border-bottom-right-radius: 0.75em 0.75em;
	border-bottom-left-radius: 0.75em 0.75em;
	vertical-align: middle;
}

#overlay {
	position: absolute;
	background-color: #303030;
    background: rgba(25, 25, 25, 0.35);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(25, 25, 25, 0.25)), to(rgba(25, 25, 25, 0.45)));
	border-top-left-radius: 0.75em 0.75em;
	border-top-right-radius: 0.75em 0.75em;
	border-bottom-right-radius: 0.75em 0.75em;
	border-bottom-left-radius: 0.75em 0.75em;
	padding: 0.4em;
	padding-bottom: 0.6em;
	text-align: center;
	vertical-align: middle;
}

#resume {
	display:inline-block;
	width: 80px;
	height: 80px;
	position:absolute; 
	top:50%; 
	left:50%;
	margin-left: -40px;
	margin-top: -40px;
	text-align: center;
	vertical-align: middle;
	border-top-left-radius: 0.75em 0.75em;
	border-top-right-radius: 0.75em 0.75em;
	border-bottom-right-radius: 0.75em 0.75em;
	border-bottom-left-radius: 0.75em 0.75em;
	background-color: #d5d5d5;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c9c9c9), to(#8c8c8c));
}

#leftPipe {
	float: left;
	margin-left: 15px;
}

#rightPipe {
	float: right;
	margin-right: 15px;
}

.pipe {
	display: inline-block;
	margin-top:10px;
	height: 60px;
	width: 15px;
	background-color: gray;
}

#value {
	margin-left: 4px;
	margin-right: 10px;
	margin-top: -8px;
	margin-bottom: -8px;
	padding: 3px;
	font-size: 10em;
	letter-spacing: -0.075em;
	vertical-align: middle;
}

#wrap {
	width: 428px;
	margin-left: auto;
	margin-right: auto;
}

#inputstrip {
	font-family: "Lucida Grande", Verdana;
	display: table;
	text-align: center;
	width: 100%;
	margin-top: 0.5em;
	background-color: #D5D5D5;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#C9C9C9), to(#8C8C8C));
	-webkit-border-radius: 0.75em;
	-webkit-box-shadow: 0 0.15em 0.17em rgba(0, 0, 0, 0.5);
	text-align: center;
	position: relative;
	border-top-left-radius: 0.75em 0.75em;
	border-top-right-radius: 0.75em 0.75em;
	border-bottom-right-radius: 0.75em 0.75em;
	border-bottom-left-radius: 0.75em 0.75em;
}

nav {
    font-family: "Lucida Grande", Verdana;
    display: table;
    text-align: center;
    width: 100%;
    margin-top: 1em;
    background-color: #d5d5d5;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#c9c9c9), to(#8c8c8c));
    -webkit-border-radius: 0.75em;
    -webkit-box-shadow: 0 0.15em 0.17em rgba(0, 0, 0, 0.5);
    text-align: center;
    position: relative;
}

nav a:first-child {
    -webkit-border-top-left-radius: 0.75em;
    -webkit-border-bottom-left-radius: 0.75em;
    border-left: 0 transparent none;
}

nav a:last-child {
    -webkit-border-top-right-radius: 0.75em;
    -webkit-border-bottom-right-radius: 0.75em;
}


nav a {
    text-decoration: none;
    display: table-cell;
    font-size: 0.9em;
    color: #393939;
    padding: 0.65em;
    text-shadow: 0 0.08em 0.1em rgba(220, 220, 220, 0.65);
    border-left: 1px solid rgba(50, 50, 50, 0.3);   
}


nav a:hover, nav a:active {
    background: rgba(25, 25, 25, 0.15);
    color: #353535;
    text-shadow: 0 0.08em 0.1em rgba(220, 220, 220, 0.45);
}

nav a.selected {
    font-weight: bold;
    color: white;
    background-color: #303030;
    background: rgba(25, 25, 25, 0.35);
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(25, 25, 25, 0.25)), to(rgba(25, 25, 25, 0.45)));
    text-shadow: 0 -0.1em 0.1em rgba(25, 25, 25, 0.55);
}

@-webkit-keyframes alarm {
    0%   {  }
    50%  { -webkit-box-shadow: 0px 0px 25px #ff0000; }
    100% {  }
}